
rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    
    function isInductionCheck() {
      return request.query.keys().hasAll(['where', 'orderBy', 'limit'])
             && request.query.where[0].field.stringEndsWith('name')
             && request.query.where[1].field.stringEndsWith('company')
             && request.query.orderBy[0].field.stringEndsWith('inductionTimestamp')
             && request.query.limit == 1;
    }

    match /visitors/{visitorId} {
      allow create: if true;
      allow get, update, delete: if request.auth != null;
      allow list: if 
        request.auth != null || 
        (request.query.where.size() == 1 && request.query.where[0].field.stringEndsWith('checkedOut') && request.query.where[0].value == false) ||
        isInductionCheck();
    }

    match /users/{userId} {
      allow read, write, list: if request.auth != null;
    }

    match /employees/{employeeId} {
      allow read: if true;
      allow write: if request.auth != null;
    }
    
    match /companies/{companyId} {
      allow read: if true;
      allow write: if request.auth != null;
    }

    match /settings/{settingId} {
      allow read, write: if request.auth != null;
    }
    
    match /debug_tests/{testId} {
      allow read, write, delete: if request.auth != null;
    }
  }
}
